######################
# Compiled binaries
*.elf
*.o
*.e
*.d
######################
# Emacs/vim/gedit backup files
*~
.*.swp
.*.swo
*#
*.bak

#######################
# Simulation files
*.vvp
*.vcd
*.out
*.trace

#######################
# XILINX crap
*.xpr
*.log
*.jou
*.runs
*.sim
*.rpt
*.str
*.xml
*.hw
*.cache
*.srcs
xgui/
.Xil
*.zip
*_stub.vhdl
*.upgrade_log
*_stub.v
*_changelog.txt

