######################
# Compiled binaries
*.elf
*.o
*.e
*.d
*.out
*.trace
######################
# Emacs/vim/gedit backup files
*~
.*.swp
.*.swo
*#
*.bak

#######################
# Log files
*.log
*.jou

