######################
# Compiled binaries
*.elf
*.o
*.e
*.d
bin/

#########################
# Auto created links
symlinks

######################
# Emacs/vim/gedit backup files
*~
.*.swp
.*.swo
*#
*.bak

#######################
# Simulation files
*.vvp
*.vcd
*.out
*.trace
*.bin
#######################
# XILINX crap
*.xpr
*.log
*.jou
*.runs
*.sim
*.rpt
*.str
*.xml
*.hw
*.cache
*.srcs
xgui/
.Xil
*.zip
*_stub.vhdl
*.upgrade_log
*_funcsim.v
*_changelog.txt
*.vhdl
*.dcp
*.veo
*_ooc.*

#######################
#ASIC proprietary files
proprietary/

# parallella_base intermediate files
src/parallella/fpga/parallella_base/src
