/*header from top*/
/* less space at the top */
.slide>div {
  padding-top: 60px;
  height: 580px;
}

/* more room next to images aligned right */
.slide img[align=right] {
  margin-right: -80px;
}

/* force 2nd image aligned right to fall below 1st one
increase this value if the images are smaller */
.slide img[align=right] ~ img[align=right] {
  margin-left: 1em;
}


/*transparency of text bar*/
.slide.background-image > div > div {
  background-color: rgba(0, 0, 0, 0.6);
}

/*font size*/
.slide {
    font-size: 1.0em;
}

/*cover title*/
.slide.cover h2 {
  margin: -20px 0 0 -70px;
  color: #fff;
  font-size: 70px;
}
/*cover paragraph (markdown-->html)
slide.cover from shower theme
p from jurgens generator
*/
.slide.cover p {
  color: #fff;
  font-style: italic;
  font-size: 40px;
  margin-left: -70px;
}

@media print {
  #nav { display:none; }
  .pub-button { display:none; }
}

/*padding for images*/
.slide img {margin-bottom:1em;}
